@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

/* Contenedor del carrusel */
.carousel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 30px;
    position: relative;
    font-family: 'Noto Sans Display', sans-serif;
  }
  
  /* Título del carrusel */
  .carousel-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-align: center; /* Asegura que el texto esté centrado */
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid #333;
    width: 80%; /* Ajusta el ancho al 80% para coincidir con el carrusel */
    margin-left: auto; /* Centra el título horizontalmente */
    margin-right: auto; /* Centra el título horizontalmente */
}


  
  /* Estilos del carrusel */
  .carousel {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden; /* Ocultar productos fuera de vista */
    justify-content: center;
  }
  
  /* Botones del carrusel */
  .carousel-btn {
    position: absolute;
    top: 50%;
    background-color: #f5f5f5;
    color: #1e2a38;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
    border-radius: 50%;
  }
  
  .prev-btn {
    left: 10px;
  }
  
  .next-btn {
    right: 10px;
  }
  
  /* Contenedor de los productos del carrusel */
  .carousel-items {
    display: flex;
    gap: 20px;
    transition: transform 0.3s ease-in-out; /* Transición suave */
    justify-content: center;
  }
  
  /* Estilos para los productos */
  .carousel-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 1px;
    padding: 20px;
    text-align: center;
    min-width: 300px;
    max-width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Transición para hover */
  }
  
  .carousel-item:hover {
    transform: translateY(-5px); /* Eleva el producto al hacer hover */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más fuerte al hacer hover */
  }
  
  /* Ajuste de tamaño fijo para las imágenes */
  .carousel-image {
    width: 150px; /* Ancho fijo para todas las imágenes */
    height: 150px; /* Altura fija para todas las imágenes */
    object-fit: contain; /* Asegura que la imagen mantenga sus proporciones sin distorsionarse */
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  /* Información del producto */
  .product-name {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #333;
  }
  
  .product-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #1e2a38; /* Naranja del precio */
  }
  