.shopping-cart-container {
    margin: 150px auto 50px;
    width: 90%;
    max-width: 1200px;
    background-color: #f6f6f6;
    padding: 20px;
    font-family: 'Noto Sans Display', sans-serif;
}

.shopping-cart-flex {
    display: flex;

    gap: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.shopping-cart-items {
    width: 70%;
    background-color: white;
    padding: 20px;

}

.shopping-cart-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #eaeaea;
    padding-bottom: 8px;
}

.shopping-cart-header h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.shopping-cart-header h2 {
    font-size: 1.5rem;
}

.shopping-cart-column-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.shopping-cart-column-labels h3 {
    width: 20%;
    font-weight: bold;
    text-transform: uppercase;
    color: #555;
    font-size: 0.9rem;
}

.shopping-cart-item {
    display: grid;
    grid-template-columns: 40% 20% 40%; /* Fijar el ancho de las columnas */
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #eaeaea;
}

.product-details {
    display: flex;
    width: 100%; /* Ocupa el 40% del ancho asignado */
    align-items: center;
    gap: 10px;
}

.product-image img {
    width: 80px;
    height: auto;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.product-name {
    font-weight: bold;
    white-space: nowrap;  
    overflow: hidden;     
    text-overflow: ellipsis;  
    max-width: 220px; 
    display: inline-block; 
}

.product-name a {
    color: #333;  
    text-decoration: none; 
}


.product-category {
    color: #555;
    font-size: 0.8rem;
}

.product-remove {
    color: gray;
    text-decoration: none;
    font-size: 0.8rem;
    margin-top: 5px;
}

.product-remove:hover {
    color: red;
}

.product-quantity-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quantity-input {
    text-align: center;
    width: 30px;
    border: 1px solid #ddd;
    padding: 5px;
    margin: 0 10px;
    border-radius: 4px;
}

.quantity-decrease, .quantity-increase {
    border: none;
    background: none;
    cursor: pointer;
}

.product-price-cart {
    text-align: right;
    font-size: 1rem;
    justify-content: flex-end;
    
}

.original-price-cart {
    text-decoration: line-through;
    color: gray;
    margin-right: 10px;
}

.discount-price-cart {
    font-weight: bold;
    color: green;
}

.shopping-cart-continue {
    display: flex;
    align-items: center;
    color: #4a90e2;
    text-decoration: none;
    margin-top: 30px;
}

.shopping-cart-continue:hover {
    text-decoration: underline;
}

.shopping-cart-continue .icon {
    margin-right: 10px;
}

#summary {
    background-color: #f6f6f6;
    width: 25%;
    padding: 20px;
    border-radius: 8px;
}

#summary h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-weight: bold;
}

.summary-shipping,
.summary-promo {
    margin-top: 20px;
}

.summary-shipping select,
.summary-promo input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.apply-promo {
    background-color: red;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.apply-promo:hover {
    background-color: darkred;
}

.summary-total {
    margin-top: 20px;
    border-top: 1px solid #eaeaea;
    padding-top: 20px;
}

.summary-total-label {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 0.9rem;
}

.checkout-btn {
    background-color: #4a90e2;
    color: white;
    padding: 15px;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.checkout-btn:hover {
    background-color: #3a70b2;
}

.success-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1e2a38;
    color: white;
    padding: 15px 20px;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    z-index: 1000;
    animation: slideIn 0.5s ease;
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      top: 0;
    }
    to {
      opacity: 1;
      top: 20px;
    }
}
  
  